[flake8]
ignore = W191,D103,D105,D107,D203,E126,E711,N805
max-complexity = 10
max-line-length = 80
hang-closing = True
exclude = .hg,.git,.venv,.eggs,.tox,docs,bower_components,build,migrations,tests
